<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Login - VetMaia</title>
</head>
<body>
  {% block content %}

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">VetMaia</a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Pets <span class="sr-only">(current)</span></a></li>
              <li><a href="#">Family-Pet</a></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Defina ação</a></li>
                  <li><a href="#">Outra ação</a></li>
                  <li><a href="#">Ação denovo</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Sair</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>


            {% if form.errors %}
            <p>Seu usuário e senha estão inválidos</p>
            {% endif %}
            
            {% if next %}
            {% endif %}
            
            <form  action="{% url 'login' %}"  method="post">
              <br/> <br/> <br/> <br/> <br/>
                    {%csrf_token%}
                        <label for="usuario">Usuário:</label>
                            <input type="text" class="form-control" id="usuario" placeholder="E-mail" name="username" size="10">
                        <label for="senha">Senha:</label>
                            <input type="password" class="form-control" id="senha" placeholder="Senha" name="password">
                        <button type="submit" class="btn btn-default navbar-btn">Entrar</button>
            </form>
        {% endblock %}
</body>

</html>